{{!-- с помощью конструкции {{> head }} мы подключаем вынесенный в отдельный файл head
в папке partials кусок кода <head></head>--}}
{{> head}}
<body>
  {{> navbar}}

  {{!-- класс container подтягивается из библиотеки materialize css --}}
  <div class="container"> 
    {{!-- в конструкцию {{{ body }}} подставляется html, который создается в файлах
    привязанных к данному layout --}}
    {{{ body }}}
   </div>

{{!-- в footer можно подключать js-скрипты --}}
{{> footer}}
</body>
</html>